.checkout {
  width: 100%;
  min-height: 90vh;
  background-image: url("https://img2.gratispng.com/20180226/ble/kisspng-shopping-cart-supermarket-shopping-cart-5a94896e0fef30.9096713715196839500653.jpg");
  background-size: cover;
}
